@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    border-radius: none;
}

body{
    background-color: rgb(237, 241, 253);
    font-family: 'Outfit', sans-serif;
}

main{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.card .card--image{
    width: 100%;
    padding: 1px;
}

.card__text{
    text-align: center;
    padding: 30px;
}

.card__text--title{
    font-size: 20px;
    font-weight: 700;
}

.card__text--parraf{
    font-size: 15px;
    padding: 15px;
    padding-bottom: 0.3px;
}

